*.a -text -diff -merge
*.o -text -diff -merge
*.so -text -diff -merge
*.dylib -text -diff -merge
*.dll -text -diff -merge
*.lib -text -diff -merge
*.exe -text -diff -merge
*.bin -text -diff -merge
*.png -text -diff -merge
